.hero-section {
  position: relative;
  background: url("../assets/img/banner.png") no-repeat center center/cover;
  height: 60vh;
}

.hero-section .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(71, 61, 139, 0.537);
}
.hero-section .content {
  position: relative;
  z-index: 1;
}
#countdown div {
    text-align: center;
  }
.text-sp {
  color: rgb(90, 37, 138);
  text-shadow: 2px 0px 5px rgb(129, 89, 189);
}
.count-s{
  background-color: rgba(233, 217, 248, 0.757);
}