/***********Log in***************/
.log {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.log-box {
    background-color: #faeee5;
    width: 40%;
    padding: 40px 30px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(83, 82, 82, 0.4);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.log-head {
    background: #3B82F6;
    background-clip: text;
    color: transparent;
    font-size: 35px;
    font-weight: bolder;
    text-align: center;
    padding: 0;
}

.log-head span {
    background: #a29ef9;
    background-clip: text;
    color: transparent;
}

.log-body {
    color: #6C63FF;
    font-weight: bolder;
}

.log-body input {
  padding: 10px;
  border-radius: 6px;
  border: none;
  outline: none;
}

.log-body button {
  background-color: #6C63FF;
  font-weight: bolder;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.5s ease;
}

.log-body button:hover {
  background-color: #10B981;
} 