header {
  height: 100vh;
background-image: url(../../public/img/Event.png);
    background-size: cover;
    background-position:center;
    background-color: rgba(0, 0, 0, 0.49);
    background-blend-mode:multiply ;
}

header h1,p {
  animation: fadeUp 1.3s ease forwards;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(25px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
header .btn-primary {
  padding: 0.75rem 2rem;
  border-radius: 50px;
  font-size: 1.1rem;
  transition: all 0.3s ease-in-out;
}
header .btn-primary:hover {
  background: #3d38c4;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}
@media (max-width: 768px) {
  header .container {
    padding-top: 60px; 
  }
  header h1 {
    font-size: 1.8rem;
  }
  header p {
    font-size: 1rem;
  }
  header .btn-primary {
    font-size: 1rem;
    padding: 0.6rem 1.5rem;
  }}
  /*------------- Upcoming Events  -------------------*/

.event-card {
    border-radius: 12px;
    overflow: hidden;
    transition: all 0.3s ease;
    font-size: 0.9rem;
  }
  .event-card img {
    height: 180px;
    object-fit: cover;
  }
  .event-card .card-body {
    padding: 12px; 
  }
  .event-card:hover {
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
 
  }
  /*------------- Stay Connected -------------------*/
  .btn-primary{
    padding: 0.75rem 2rem;
    --bs-btn-bg:rgb(168, 166, 211)
  
     width: 150px;
  
  }

.form-floating {
  width: 50%;
}

@media (max-width: 730px) {
  .form-floating {
    width: 100% !important;
  }
}
/*----------------------------------*/
.icon-upload {
  width: 40px;
  height: 40px;
}