.logo img {
  width: 32px;
  height: auto;
}
.logo h3 {
  margin: 0;
  font-family: 'Borel', cursive;
  font-size: 24px;
  font-weight: 700;
  color: #5048E5;
}

.navbar-nav .nav-link {
  position: relative;
  color: #171717;
  font-weight: 500;
  margin: 0 12px;
  transition: color 0.3s ease;
  padding-bottom: 4px;
}

.navbar-nav .nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: #5048E5;
  transition: width 0.3s ease;
}


.navbar-nav .nav-link:hover {
  color: #5048E5;
}


.navbar-nav .nav-link:hover::after,
.navbar-nav .nav-link.active::after {
  width: 100%;
}


.navbar-nav .nav-link.active {
  color: #5048E5;
  font-weight: 600;
}

/*---------------------------/*
/* Buttons */
.btn-outline {
  border: 1px solid #5048E5;
  color: #5048E5;
  transition: all 0.3s ease;
}
.btn-outline:hover {
  background: #5048E5;
  color: #fff;
}
.btn-primary {
  background: #5048E5;
  border: none;
}
.btn-primary:hover {
  background: #3d38c4;
}
