/* Logo */
.logo {
  display: flex;
  align-items: center; /* يحاذي الصورة و h3 عموديًا */
}

.logo img {
  width: 32px;
  height: 32px;
}

.logo h3 {
  font-size: 24px;
  font-weight: 700;
  color: transparent;
  background: linear-gradient(to right,#0D1117 ,#6C63FF);
  background-clip: text;
  margin: 0; 
  line-height: 32px; 
}

/* Navbar Links */
.navbar-nav {
  display: flex;
}

.navbar-nav .nav-link {
  position: relative;
  color: #0D1117;
  font-weight: 500;
  margin: 0 12px;
  padding-bottom: 4px;
  display: flex;
  align-items: center; /* يحاذي النص والأيقونات داخل اللينك */
  height: 40px; /* توحيد ارتفاع اللينكات */
  transition: color 0.3s ease;
}

.navbar-nav .nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: #6C63FF;
  transition: width 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: #6C63FF;
}

.navbar-nav .nav-link:hover::after,
.navbar-nav .nav-link.active::after {
  width: 100%;
}

.navbar-nav .nav-link.active {
  color: #6C63FF;
  font-weight: 600;
}

/* Navbar container */
.navbar .container {
  display: flex;
  align-items: center; /* يحاذي كل العناصر عموديًا */
  justify-content: space-between;
}


/*---------------------------/*
/* Buttons */
.btn-outline {
  border: 1px solid #6C63FF;
  color: #6C63FF;
  transition:  0.6s ease;
}
.btn-outline:hover {
  background: #2f3e53;
  color: #fff;
}
.btn-primary {
  background: #6C63FF;
  border: none;
  transition: 0.6s ease;
}
.btn-primary:hover {
  background: #2f3e53;
}

.logout-btn {
  color: #6C63FF;
  text-decoration: none;
  transition: 0.3s ease;
}

.logout-btn:hover {
  color: #2f3e53;
}
