.container-fluid {
  min-height: 100vh;
  margin-top: 80px;

}

.content {
  display: flex;
  justify-content: center;
  align-items: center;

}

.hero-sec {
  background: linear-gradient(to right, rgba(115, 26, 249, 0.85), rgba(65, 182, 203, 0.85)),
    url('../img/bg-pattern.svg') no-repeat center/cover;
  color: white;
}

.card-custom {
  border-radius: 15px;
  transition: box-shadow 0.4s ease;
}

.card-custom:hover {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.557);
}

.profile-t {
  color: rgb(92, 41, 139);
}

.form-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.user-img {
  width: 120px;
  height: 120px;
  object-fit: cover;
}